page-location-approval {
    .scroll-content {
        background: #f7f8f8 url(../assets/imgs/map-bg.png) no-repeat center bottom;
        background-size: 100% auto;
        ion-list {
            height: 65vh;
            background: #2869b4 url(../assets/imgs/hand-up.png) no-repeat right bottom;
            background-position-x: calc(100% - 20px);
            background-size: auto 50%;
            border-radius: 10px;
            margin: 1vh 2vw;
            position: relative;
            min-height: 280px;
            ion-item {
                background: transparent;
                text-align: center;
                color: white;
                .location-label {
                    font-size: 30px;
                    margin-top: 8vh;
                }
                .setting-label {
                    font-size: 16px;
                    white-space: normal;
                    max-width: 240px;
                    margin: 20px auto;
                }
            }
            .go-button {
                position: absolute;
                bottom: 8vh;
                left: 9%;
                right: 9%;
                padding: 20px 0px;
                border-radius: 25px;
                height: 50px;
                font-size: 13px;
                width: 230px;
                margin: 0 auto;
                background-color: #fff;
            }
        }
    }
}
