page-location {
    ion-content.content .scroll-content{
        background-color: #fefefe;
        padding: 16px 0px !important;
        ion-list {
            ion-searchbar.searchbar {
                background: transparent;
                padding: 0 16px;
                .searchbar-input {
                    background-color: #f5f5f5;
                    border-radius: 15px;
                }
            }
            ion-item {
                border-bottom: 0.55px solid #c8c7cc;
                .item-inner {
                    border-bottom: 0px;
                }
            }
            .item.item-radio-checked .item-inner ion-label {
                color: $title-color;
            }
            .radio-checked .radio-inner {
                border-color: #398594;
                height: 20px;
                width: 8px;
            }
        }
    }
}
