<ion-header>
  <ion-navbar>
    <ion-title>Location</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list radio-group *ngIf="locations && locations.length > 0" [(ngModel)]="location_id" (ngModelChange)="selectLocation(location_id)" class="loction-list">
    <ion-searchbar [(ngModel)]="searchLocation" placeholder="Search"></ion-searchbar>
    <ion-item *ngFor="let location of locations | locationFilter:searchLocation" tappable>
      <ion-label>{{location.name}}<p>{{location.position}}</p></ion-label>
      <ion-radio value="{{location.id}}" [checked]="location.id == location_id"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <img class="location-button" (click)="goLocation()">
</ion-footer>