page-settings {
    .shutdown-button {
        content: url(../assets/icon/shutdown-button.png);
        height: 32px;
        margin-right: 8px;
    }
    .fixed-content, .scroll-content {
        padding: 0px !important;
        .sub-title {
            font-size: 14px;
            color: $title-color;
            padding-left: 16px;
        }
        ion-card-header {
            text-align: center;
            padding-bottom: 0px;
        }
        .select-location {
            text-align: center;
            color: $label-color;
            font-size: 18px;
        }
        .gender-group {
            text-align: center;
            font-size: 14px;
            color: $label-color;
            ion-col {
                img {
                    content: url(../assets/imgs/settings/gender-bg.png);
                    align-content: center;
                    padding: 10px;
                }
                span {
                    position: absolute;
                    top: 35%;
                    left: 0px;
                    right: 0px;
                    vertical-align: middle;
                }
            }
            .actived-gender {
                img {
                    content: url(../assets/imgs/settings/actived-gender.png);
                }
                span {
                    color: #fff;
                }
            }
        }
        .age-range {
            margin: 12px;
            border-radius: 2px;
            width: calc(100% - 24px);
            font-size: 1.4rem;
            background: #fff;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            text-align: center;
            color: #333;
            ion-label {
                padding-top: 20px;
                margin-bottom: 0px;
            }
            ion-range {
                ion-label:first-child {
                    position: absolute;
                    top: -12px;
                    left: 11px;
                    font-size: 16px;
                }
                ion-label:last-child {
                    position: absolute;
                    top: -12px;
                    right: 5px;
                    font-size: 16px;
                }                
                .range-slider {
                    .range-bar {
                        height: 6px;
                        border-radius: 3px;
                    }
                    .range-bar-active {
                        background: #378493;
                    }
                    .range-knob {
                        content: url(../assets/imgs/settings/range-knob.png);
                        box-shadow: none;
                        background: transparent;
                        top: 10px;
                    }
                    .range-pin {
                        transform: translate3d(0, 0, 0) scale(1);
                        font-size: 16px;
                    }
                }
            }
        }
        .item.toggle-group {
            background-color: $content-color;
            .item-inner {
                border-bottom: 0px;
            }
            ion-toggle .toggle-icon::before, .toggle-checked .toggle-icon {
                background-color: #378493;
            }
        }
        ion-label.toggle-label {
            text-align: center;
            margin: 0px;
            font-size: 12px;
        }
        ion-label.remove-button {
            margin: 8px 16px;
            button {
                background: transparent;
                border: 1px solid;
                color: $title-color;
            }
        }
    }    
}