// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: "Lobster1.4";
    src: url("../assets/fonts/Lobster_1_4.woff") format("woff");
}
ion-header {
    font-family: "Lobster1.4";
    ion-navbar {
        box-shadow: 0px 1px #e4e5e5;
    }
    .toolbar-background {
        background: $toolbar-color;
    }
    ion-title {
        .title-logo {
            width: 51px;
            height: 40px;
            margin: 3px auto;
            background: url(../assets/imgs/title_logo.png) no-repeat;
        }
        .label {
            position: absolute;
            top: 0px;
            right: 0px;
            color: $label-color;
            font-weight: 500;
        }
    }
}
.scroll-content, ion-content.content {
    font-family: "Lobster1.4";
    background-color: $content-color;
    color: $label-color;
    .header-text {
        font-size: 28px;
        color: $header-color;
    }
    .title-text {
        color: $title-color;
        margin-bottom: 0px;
    }
    ion-item {
        color: $title-color;
    }
}
.back-button.show-back-button {
    color: #6c727c;
    .back-button-text {
        display: none;
    }
}
.area-show {
    display: block;
}
.area-hide {
    display: none;
}