page-enter-phone {
    ion-content.content {
        .phone_group {
            position: relative;
            .country-flag {
                position: absolute;
                top: 10px;
                z-index: 100;
            }
            ion-item {
                border-bottom: 1px solid #979797 !important;
                background-color: $content-color;
                padding-left: 0px;
                ion-input {
                    padding-left: 52px;
                }
            }
            .country-flag {
                ion-icon {
                    font-size: 20px;
                }
                .select-icon-image {
                    top: 50%;
                    margin-top: -2px;
                    left: 36px;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 5px solid;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    color: #999;
                    pointer-events: none;
                }
            }
        }
        .text-again {
            position: absolute;
            bottom: 15px;
            right: 15px;
            color: #2160a8;
            text-decoration: underline;
        }
    }
}
